# OS files
.DS_Store
Desktop.ini
._*
Thumbs.db
.Spotlight-V100
.Trashes
*~

# builds
builds/
.deps/
opencv-3.1.0/build/

build/CMakeCache.txt
build/CMakeFiles/
build/Makefile
build/cmake_install.cmake
build/track

*.swp

