dist: trusty
sudo: false

branches:
  except:
  - pretest
  - elec

language: C

script:
    - make -C tests/blink/
    - make -C tests/led/
    - make -C tests/ranging/
    - make -C tests/coding_wheels/
    - mkdir opencv && cd opencv
    - wget https://github.com/Itseez/opencv/archive/3.1.0.zip -O opencv-3.1.0.zip
    - unzip opencv-3.1.0.zip
    - cd opencv-3.1.0
    - mkdir build && cd build
    - cmake -D CMAKE_BUILD_TYPE=Release -D CMAKE_INSTALL_PREFIX=/usr/local ..
    - make -j 8
    - sudo make install
    - cd ../../..
    - make -C tests/cam

cache: ccache

addons:
    apt:
        packages:
        - gcc-arm-none-eabi
        - libnewlib-arm-none-eabi
