dist: trusty
sudo: false

language: C

before_install:
    - (cd /tmp && curl "https://armkeil.blob.core.windows.net/developer/Files/downloads/gnu-rm/6-2016q4/gcc-arm-none-eabi-6_2-2016q4-20161216-linux.tar.bz2" | tar jxf -)

env:
    - PATH=/tmp/gcc-arm-none-eabi-6_2-2016q4/bin:$PATH CCACHE=ccache

script:
    - make -C robot/
    - make -C beacon/
    - make -C tests/blink/
    - make -C tests/led/
    - make -C tests/ranging/
    - make -C tests/coding_wheels/
    - make -C tests/RTLS/beacon
    - make -C tests/RTLS/robot
    - make -C tests/imu/

cache: ccache
