branches:
  except:
  - pretest
  - elec

sudo: required

language: C

script:
    - make -C tests/blink/
    - make -C tests/led/
    - make -C tests/ranging/
    - make -C tests/coding_wheels/

cache: ccache

addons:
    apt:
        sources:
        - sourceline: 'ppa:team-gcc-arm-embedded/ppa'
        packages:
        - gcc-arm-embedded
