dist: trusty
sudo: false

language: C

script:
    - make -C robot/
    - make -C beacon/
    - make -C tests/blink/
    - make -C tests/led/
    - make -C tests/ranging/
    - make -C tests/coding_wheels/
    - make -C tests/moving/
    - make -C tests/RTLS/beacon
    - make -C tests/RTLS/robot
    - make -C tests/imu/

cache: ccache

addons:
    apt:
        packages:
        - gcc-arm-none-eabi
        - libnewlib-arm-none-eabi
