body {
    font-family: 'OpenSans';
    margin: 0;
    padding: 0;
	background-color: #fffdf9;
}

.btn {
    border-radius: 5px;
    padding: 0.3vmin;
    transition: .3s;
    -webkit-transition: .3s;
    -moz-transition: .3s;
    -o-transition: .3s;
    display: inline-block;
    color: #3e3c41;
    border: 2px #3e3c41 solid;
    text-align: center;
}
.btn:hover {
    background-color: #3e3c41;
    color: #fffdf9;
}

input, span {
    font-family: 'OpenSans';
    font-size: 1.8vw;
}

.leftpane, .rightpane {
	position: absolute;
	height: 100vh;
	top: 0;
}
.rightpane {
	width: 30vw;
	right: 0;
	border-left: 1px #959595 solid;
}
.leftpane {
	width: 70vw;
	left: 0;
}

.sysmap {
	position: relative;
	left: 5%;
	width: 90%;
	height: 85%;
}
.beacons {
	position: absolute;
	width: 100%;
	background-color: white;
	height: 5vw;
	left: 0;
	bottom: 0;
	text-align: center;
	background-color: #dfdcd6;
}

.serialport {
	height: 10vh;
	width: 100%;
	padding-top: 1vh;
	text-align: center;
	background-color: #dfdcd6;
}
.log {
	height: 90vh;
	width: 100%;
	overflow: scroll;
	font-size: 1.5vw;
	padding-left: 1vw;
	padding-top: 1vh;
}

.baudrate, .sb1x, .sb2y {
	width: 8vw;
	margin-top: 1vh;
}
.serialpath {
	width: 100%;
}

@font-face {
    font-family: 'OpenSans';
    font-style: normal;;
    font-weight: 500;
    src: url(../fonts/OpenSans-Regular.ttf);
}
@font-face {
    font-family: 'OpenSans';
    font-style: normal;
    font-weight: 700;
    src: url(../fonts/OpenSans-Bold.ttf);
}
